.top_creator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 20%;
  /* width: 20%; */
  margin-bottom: 3rem;
}
.creator_no {
  font-size: 1.8rem;
  margin-right: 0.6rem;
}
.creator_img {
  overflow: hidden;
  max-width: 5rem;
  margin-right: 0.6rem;
}
.creator_img > img {
  width: 100%;
}
.creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.creator_name {
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(to right, var(--primary-1), var(--primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.creator_price {
  font-weight: 500;
}
@media screen and (max-width: 1026px) {
  .top_creator {
    min-width: 25rem;
  }
}
