.bidding_person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--bg-color);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.bidding_person_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bidding_person_img {
  margin-right: 1rem;
  overflow: hidden;
  border-radius: 50%;
  max-width: 4rem;
}
.bidding_person_img > img {
  border-radius: 50%;
  width: 100%;
}
.bidding_by {
  font-size: 1.5rem;
}
.bidding_by > span {
  background: linear-gradient(to right, var(--primary-1), var(--primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.bidding_time {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 0.2rem;
}
.bidding_person_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.bidding_trust {
  font-size: 1.5rem;
}
.bidding_price {
  color: #aaa;
  font-size: 1.4rem;
}
