.shop_page {
  padding: 2rem 4rem;
}
@media screen and (max-width: 798px) {
  .shop_page {
    padding: 2rem;
  }
}
@media screen and (max-width: 744px) {
  .shop_page {
    padding: 0rem 0rem;
  }
}
@media screen and (max-width: 654px) {
  .shop_page {
    padding: 1rem 0rem;
  }
}
